{
  "printWidth": 80,
  "singleQuote": true,
  "trailingComma": "es5",
  "semi": false,
  "tabWidth": 2,
  "overrides": [
    {
      "files": ["**/*.css", "**/*.scss", "**/*.json"],
      "options": {
        "singleQuote": false
      }
    }
  ],
  "jsxSingleQuote": true,
  "bracketSpacing": true
}